<h1>Welcome</h1>


<table style="width:70%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Stock Status</th>
      <th>Manufacturer</th>
    </tr>

<tr>
<td><%= product.name %></td>
<td><%= product.address %></td>
<td><%= product.quantity %></td>
<td><%= product.stock_level_indicator %></td>
<td><%= product.manufacturer %></td>
</tr>



