<h1>Products</h1>

<a href="/products/new">Add New Product</a>


<table style="width:60%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Cost Price</th>
      <th>Sell Price</th>
      <th>Manufacturer</th>
      <th>Remove</th>
    </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.name %></a></td>
    <td><%= product.type %></td>
    <td><%= product.quantity %></td>
    <td><%= product.buying_price %></td>
    <td><%= product.selling_price %></td>
    <td><%= product.manufacturer_id %></td>
<td><form method="post" action="/products/<%= product.id %>/delete">
  <input type="submit" value="Delete Product"/></form></td>
  </tr>
  <% end %>
</table>