<h1>Products</h1>

<a href="/products/new">Add New Product</a>
<br>
<br>
<table style="width:70%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Stock Status</th>
      <th>Cost Price</th>
      <th>Sell Price</th>
      <th>Manufacturer</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.name %></a></td>
    <td><%= product.type %></td>
    <td><%= product.quantity %></td>
    <td><%= product.stock_level_indicator %></td>
    <td><%= product.buying_price %></td>
    <td><%= product.selling_price %></td>
    <td><%= product.manufacturer.name %></td>

<td><form method="get" action="/products/<%= product.id %>/edit">
  <input type="submit" value="Edit Product"/></form></td>
    
<td><form method="post" action="/products/<%= product.id %>/delete">
  <input type="submit" value="Delete Product"/></form></td>
  </tr>
  <% end %>
</table>


